.hero__section {
  border-bottom: 1px solid #0d0d0e;
  background-position: right -200px top;
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
}
.container__set {
  width: 100%;
}
.header {
  width: 100%;
  position: relative;
  z-index: 1;
}
.release__date {
  opacity: 0.8;
  font-weight: 400;
  margin-left: 6px;
}
.inner__desc {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}
.poster {
  display: block;
  min-width: 300px;
  /* width: 300px; */
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
}
.image__content {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
.image__content img {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-width: 0px;
  outline: none;
}
.inner__section {
  display: flex;
  height: 570px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  background-image: linear-gradient(
    to right,
    rgba(5.1%, 5.1%, 5.49%, 1) 150px,
    rgba(5.1%, 5.1%, 5.49%, 0.82) 100%
  );
  justify-content: center;
  flex-wrap: wrap;
}
.true {
  height: auto;
}
.poster__wrapper {
  border-width: 0px;
  min-width: 300px;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: var(--imageBorderRadius);
}
.images {
  display: flex;
  flex-wrap: nowrap;
}
.single__column {
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 0;
  box-sizing: border-box;
  color: #fff;
}
.header_info {
  width: 100%;
}
